
/*styles for my resume*/

body{font-family: 'Myriad Pro', Arial,sans-serif;
color:#444;
font-weight:400;
font-size: 1em;}

/*banner name at top, then photo of me, on the sides interests and skills, then finally underneath links to social media */


#photome{
  background-color:#cccff9;
  bottom center;
  height: 700px;
  width: 100%;
  min-width: 300px;}



#container {
width: 100%;
max-width:2100px;
margin-top: 20px;
margin-bottom: 20px;
padding: 0px;
}


/*skills*/

.skills {padding-top: 60px;}

/*cards*/
.card-text {font-size: 20px}

.container {padding-top: 20px;
padding-bottom:20px;}


/*info about me*/
.lead {text-align: center;

word-wrap: break-word;}


 /*font for sectionheader titles such as experience, etc */

.sectionheader{
  text-align:center;
  color:#444dc6;
  font-size:3em;
  margin-top: 10px;
  }

/*social media styles */

.menu{ margin: 0;
        padding:0;
        text-align:center;
        display: inline-block;}


.list {display:inline; text-align: center;}



/*space between volunteer and education*/

.volunteer {margin-top:80px;}

/*footer*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c4c7f6;
  color: white;
  text-align: center;
  margin-top: 100px;
}
