.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-top: 5px;
}

.bgimage {
  width:100%;
  height:500px;
  background: url('images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;

  @media (max-width: 768px) {
  background: url('my-mobile-hero-image.jpg') no-repeat center top;
}
}


/* container */

#container-fluid {
width: 100%;
max-width:2100px;
margin-top: 30px;
margin-bottom: 30px;
padding: 0px;
}


.body { font-family:avenir;
font-weight:400;
font-size: 1em;
text-align: center;
}

#headline{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size:3em;
  font-family: futura;
  text-align: center;

  }

#byline{
    font-size:1em;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:avenir;
    text-align: center;
  }


#subhead{
    font-size:2em;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: futura;
  }

.container {padding-left:60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;}

.image{padding-top: 40px;
padding-bottom: 40px; }


.graphic-container
{padding:20px;
text-align: center;}


.img-fluid {padding:20px;
  width: 80%;
  max-width:1000px;
 }


 .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   text-align: center;
   margin-top: 100px;
 }
